.right-bar-container{
    display: flex;
    flex-direction: column;
    padding: 4%;
}
.buy-sell-box{
    display: flex;
    justify-content: space-between;
}
.buy-text{
    font-size: 1rem;
    background-color: #191B20;
    color: #fff;
    padding: 2.5%;
    border-radius: 24px;
    width: 100%;
    text-align: center;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 2%;
    color: #4FBD4F;
}
.right-container-lower-box{
    
}
.balance-box{
    padding: 4%;
    background-color: #2F463B;
    margin: 2%;
    border-radius: 12px;
}
.main-header{
    margin: 1%;
    font-size: 0.75rem;
    color: #808080;
}
.sub-headers{
    margin: 2%;
    font-size: 0.75rem;
    color: #fff;
}